{% extends "layout.html" %}
{% block body_classes %}student {% endblock %}
{% block content %}
    <div class="container" id="contentContainer">
        <div><h1>Je contactgegevens</h1>
            <div class="panel panel-default">
                <div class="panel-body">
                    <form role="form" method="POST" class="form-horizontal" data-toggle="validator"
                          id="formContactGegevens">
                        <p class="infotekst" tabindex="0">Je NAW-gegevens (Naam, Adres en Woonplaats) worden op dit
                            moment aangevraagd bij de Basisregistratie personen (BRP). Het woonadres dat bij de gemeente
                            geregistreerd staat, zal ook in Studielink als woonadres en postadres worden overgenomen. De
                            hogeschool of universiteit waarbij je een verzoek tot inschrijving indient, maakt in veel
                            gevallen gebruik van het geregistreerde postadres in Studielink om post naartoe te sturen.
                            Zodra je bent ingelogd kun je het postadres eventueel wijzigen.</p>
                        <p id="existingAccountWarning" class="center text-center warning ">Ben je reeds in het bezit
                            van een studielink-account maar is je BSN gewijzigd of is er iets mis gegaan? Neem dan
                            contact op met je onderwijsinstelling.</p>
                        <div>
                            <div class="form-group has-feedback">
                                <label for="Digid.name" class="col-xs-12 col-sm-4 control-label">Naam van digiD</label>
                                <div class="col-xs-12 col-sm-8">
                                    <input name="Digid.name"
                                           class="form-control"
                                           type="text"
                                           id="Digid.name"
                                           disabled="disabled"
                                           autocomplete="off"
                                           value="{{ user_info.name }}">
                                    <span class="form-control-feedback fa col-xs-2"></span></div>
                            </div>
                        </div>

                        <div>
                            <div class="form-group has-feedback"><label for="Contact.roepnaam"
                                                                        class="col-xs-12 col-sm-4 control-label">Roepnaam</label>
                                <div class="col-xs-12 col-sm-8"><input name="Contact.roepnaam" class="form-control"
                                                                       aria-describedby=" tooltip-Contact.roepnaam validation-Contact.roepnaam"
                                                                       aria-required="true" type="text"
                                                                       id="Contact.roepnaam" autocomplete="off"
                                                                       value="">
                                    <div><span class="form-control-feedback fa col-xs-2 info"></span><span
                                            id="tooltip-Contact.roepnaam" class="sr-only">Vul hier de naam in waarmee je aangesproken wilt worden.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="form-group has-feedback"><label for="Contact.emailadres"
                                                                        class="col-xs-12 col-sm-4 control-label">E-mailadres</label>
                                <div class="col-xs-12 col-sm-8"><input name="Contact.emailadres"
                                                                       class="form-control"
                                                                       aria-describedby=" tooltip-Contact.emailadres validation-Contact.emailadres"
                                                                       aria-required="true" type="text"
                                                                       id="Contact.emailadres" autocomplete="off"
                                                                       value="">
                                    <div><span class="form-control-feedback fa col-xs-2 info"></span><span
                                            id="tooltip-Contact.emailadres" class="sr-only">Je e-mailadres wordt je loginnaam. Het advies is om hier niet het e-mailadres van je onderwijsinstelling in te vullen. Gebruik een privé e-mailadres (bijvoorbeeld Gmail) zodat je ook in de toekomst je Studielink-account kunt blijven gebruiken.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="form-group has-feedback"><label for="Contact.bevestigEmailadres"
                                                                        class="col-xs-12 col-sm-4 control-label">Bevestig
                                e-mailadres</label>
                                <div class="col-xs-12 col-sm-8"><input name="Contact.bevestigEmailadres"
                                                                       class="form-control"
                                                                       aria-describedby=" validation-Contact.bevestigEmailadres"
                                                                       aria-required="true" type="text"
                                                                       id="Contact.bevestigEmailadres"
                                                                       autocomplete="off" value=""><span
                                        class="form-control-feedback fa col-xs-2"></span></div>
                            </div>
                        </div>
                        <div>
                            <div class="form-group has-feedback">
                                <label for="Contact.address" class="col-xs-12 col-sm-4 control-label">Adresgegevens van
                                    digiD</label>
                                <div class="col-xs-12 col-sm-8">
                                    <input name="Contact.address"
                                           class="form-control"
                                           type="text"
                                           id="Contact.address"
                                           disabled="disabled"
                                           autocomplete="off"
                                           value="{{ user_info.address }}, {{ user_info.city }}">
                                    <span class="form-control-feedback fa col-xs-2"></span></div>
                            </div>
                        </div>
                        <div>
                            <p class="center text-center warning ">Studenten hebben in toenemende mate de behoefte aan
                                meer flexibiliteit in het kiezen van hun vakken. Een
                                eduID account ondersteunt een leven lang leren en samenwerken en stelt je in staat om
                                met 1 unieke identiteit deze wensen makkelijker te realiseren.</p>

                            <div class="form-group has-feedback">
                                <label for="Contact.eduID" class="col-xs-12 col-sm-4 control-label"
                                       style="padding-top: 0!important;">
                                    eduID account
                                </label>
                                <div class=" checkbox">

                                    <label class="checkboxWrap">
                                        <input
                                                name="Contact.eduID"
                                                class="sl-checkbox"
                                                aria-describedby="validation-algemeneVoorwaardenCheckbox"
                                                type="checkbox" id="eduID"
                                                autocomplete="off" checked>
                                        <span>Ik ga akkoord met een <a
                                                href="https://www.eduid.nl/"
                                                target="_blank"
                                                rel="noopener noreferrer">eduID</a> account.</span></label>

                                </div>
                            </div>
                        </div>

                        <div class="form-group has-feedback"><label for="Contact.telefoonnummer1"
                                                                    class="col-xs-12 col-sm-4 control-label">Telefoonnummer</label>
                            <div class="col-xs-12 col-sm-8">
                                <div class="row phoneselect-wrapper">
                                    <div class="col-xs-5 col-md-3">
                                        <div>
                                            <div class="form-group has-feedback">
                                                <div class="col-xs-12 col-sm-12 selectWrap"><select
                                                        id="Contact.telefoonnummer1_toegangscode"
                                                        name="Contact.telefoonnummer1_toegangscode"
                                                        class="form-control" aria-required="true"
                                                        aria-describedby="validation-Contact.telefoonnummer1_toegangscode">
                                                    <option value="" aria-label=""></option>
                                                    <option value="+31" aria-label="+1">+31</option>
                                                </select></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-7 col-md-9">
                                        <div>
                                            <div class="form-group has-feedback">
                                                <div class="col-xs-12 col-sm-12"><input
                                                        name="Contact.telefoonnummer1_telefoonnummer"
                                                        class="form-control"
                                                        aria-describedby=" validation-Contact.telefoonnummer1_telefoonnummer"
                                                        aria-required="true" type="text"
                                                        id="Contact.telefoonnummer1_telefoonnummer"
                                                        autocomplete="off" value=""><span
                                                        class="form-control-feedback fa col-xs-2"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-feedback"><label for="Contact.telefoonnummer2"
                                                                    class="col-xs-12 col-sm-4 control-label">2<sup>e</sup>
                            telefoonnummer</label>
                            <div class="col-xs-12 col-sm-8">
                                <div class="row phoneselect-wrapper">
                                    <div class="col-xs-5 col-md-3">
                                        <div>
                                            <div class="form-group has-feedback">
                                                <div class="col-xs-12 col-sm-12 selectWrap"><select
                                                        id="Contact.telefoonnummer2_toegangscode"
                                                        name="Contact.telefoonnummer2_toegangscode"
                                                        class="form-control"
                                                        aria-describedby="validation-Contact.telefoonnummer2_toegangscode">
                                                    <option value="" aria-label=""></option>
                                                    <option value="+31" aria-label="+1">+31</option>
                                                </select></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-7 col-md-9">
                                        <div>
                                            <div class="form-group has-feedback">
                                                <div class="col-xs-12 col-sm-12"><input
                                                        name="Contact.telefoonnummer2_telefoonnummer"
                                                        class="form-control" placeholder="Optioneel"
                                                        aria-describedby=" validation-Contact.telefoonnummer2_telefoonnummer"
                                                        type="text" id="Contact.telefoonnummer2_telefoonnummer"
                                                        autocomplete="off" value=""><span
                                                        class="form-control-feedback fa col-xs-2"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="form-group has-feedback"><label for="Contact.correspondentietaal"
                                                                        class="col-xs-12 col-sm-4 control-label">Taalvoorkeur</label>
                                <div class="col-xs-12 col-sm-8 selectWrap"><select id="Contact.correspondentietaal"
                                                                                   name="Contact.correspondentietaal"
                                                                                   class="form-control"
                                                                                   aria-label="Taalvoorkeur"
                                                                                   aria-required="true"
                                                                                   aria-describedby="validation-Contact.correspondentietaal">
                                    <option value="" aria-label=""></option>
                                    <option value="DE" aria-label="Deutsch">Deutsch</option>
                                    <option value="EN" aria-label="English">English</option>
                                    <option value="NL" aria-label="Nederlands">Nederlands</option>
                                </select>
                                    <div><span class="form-control-feedback fa col-xs-2 info"></span><span
                                            id="tooltip-Contact.correspondentietaal" class="sr-only">Indien mogelijk stuurt Studielink berichten in de geselecteerde taal. Je kunt dit later nog aanpassen.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 col-xs-offset-4">
                                <div>
                                    <div class="form-group has-feedback checkbox">
                                        <div class="row">
                                            <div class="col-xs-12 "></div>
                                            <div class="col-xs-12 col-sm-12">
                                                <div class="form-group"><label class="checkboxWrap"><input
                                                        name="Contact.akkoordAlgemeneVoorwaarden"
                                                        class="sl-checkbox"
                                                        aria-describedby="validation-algemeneVoorwaardenCheckbox"
                                                        type="checkbox" id="algemeneVoorwaardenCheckbox"
                                                        autocomplete="off" value=""><span>Ik ga akkoord met de <a
                                                        href="http://info.studielink.nl/nl/studenten/Pages/Studielinkalgemenevoorwaarden.aspx"
                                                        target="_blank"
                                                        rel="noopener noreferrer">algemene voorwaarden</a> van Studielink.</span></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="action-row">
                            <button id="back" class="btn btn-link" type="button" aria-label="Annuleren">
                                <a class="btn" href="/">Annuleren</a>
                            </button>
                            <button id="next" class="btn btn-primary btn-corner push-right-sm" type="submit"
                                    aria-label="Volgende">Opslaan
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}