<!DOCTYPE html>
<html lang="nl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Account Linking App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/static/custom.css" rel="stylesheet">
</head>
<body>
<header>
    <img class="edubadges" src="/static/edubadges.png">
</header>
<div class="container">

    {% block content %}
        Your template must define a 'content' block.
    {% endblock %}
    <div class="footer">
        <ul>
            <li>Powered by <a href="https://www.surf.nl">Surf</a></li>
            <li><a target="_blank" href="/public/privacy-policy">Privacy statement</a></li>
        </ul>
    </div>
</div>
</body>
</html>