{% extends "layout.html" %}
{% block body_classes %}student {% endblock %}
{% block content %}
    <div class="container" id="contentContainer">
        {% if eduid_response == 200 %}
            <div class="panel panel-default">
                <div class="panel-body eduid">
                    <img height="50px" src="/static/eduid_logo.svg" alt="eduid_logo.svg">
                    <span>Een eduID account is automatisch voor je aangemaakt. Een bevestigingsmail is verstuurd naar {{ session["user"]["email"] }}. Meer
                        weten over eduID? Klik <a href="https://www.eduid.nl/" target="_blank">hier</a>.</span>
                </div>
            </div>
        {% endif %}

        <div>
            <h1>Je overzicht</h1>
            {% if user.courses | length > 0 %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>De onderstaande inschrijvingen zijn namens Studielink doorgegeven aan de gekozen instellingen.</p>
                    </div>
                    <div class="panel-body panel-body-no-padding">
                        <table style="width: 100%">
                            <thead>
                            <th>Instelling</th>
                            <th>Studie</th>
                            <th>Datum</th>
                            </thead>
                            <tbody>
                            {% for course in user.courses %}
                                <tr>
                                    <td>{{ course.institution }}</td>
                                    <td>{{ course.education }}</td>
                                    <td>{{ course.date.strftime("%A %d %B %Y") }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            {% else %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <span>Je hebt je nog niet ingeschreven voor studie programma's. Kies hieronder een onderwijsinstellling en een cursus.</span>
                    </div>
                </div>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <form role="form" method="POST" class="form-horizontal" data-toggle="validator"
                          id="formContactGegevens">
                        <p class="infotekst" tabindex="0">Nadat je een keuze hebt gemaakt dan worden je persoonlijke
                            gegevens en keuze
                            naar de juiste instelling verstuurd. De hogeschool of universiteit zal vervolgens verder
                            contact met je opnemen.</p>
                        <div>
                            <div class="form-group has-feedback">
                                <label for="Contact.correspondentietaal"
                                       class="col-xs-12 col-sm-4 control-label">Instelling</label>
                                <div class="col-xs-12 col-sm-8 selectWrap">
                                    <select id="institution"
                                            name="institution"
                                            class="form-control">
                                        <option value="">Kies een instelling...</option>
                                        {% for institution in institutions %}
                                            <option value="{{ institution.abbreviation }}">{{ institution.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="form-group has-feedback">
                                <label for="Contact.correspondentietaal"
                                       class="col-xs-12 col-sm-4 control-label">Studie</label>
                                <div class="col-xs-12 col-sm-8 selectWrap">
                                    <select id="education"
                                            name="education"
                                            class="form-control">
                                        <option value="">Kies een studie...</option>
                                        {% for education in educations %}
                                            <option value="{{ education }}">{{ education }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="action-row">
                            <button id="back" class="btn btn-link" type="button" aria-label="Annuleren">
                                <a class="btn" href="/">Annuleren</a>
                            </button>
                            <button id="next" class="btn btn-primary btn-corner push-right-sm" type="submit"
                                    aria-label="Volgende">Opslaan
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}